body,
html {
    height: 100%;
    background-color: #181818;
}

.image-container {
    /* Freddy image */
    background-image: url("https://wallpapercave.com/wp/Kdo1nO2.png");

    /* Full height to cover whole page */
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* aligns button to the center */
    text-align: center;
}

/* css for cover page button */
.cover-btn {
    position: relative;
    top: 35vh;
    left: 6vh;
    background-color: black;
    color: black;
    border: none;
    font-family: fantasy;
    font-size: x-large;
}

/* hover over Freddy's body to find button */
.cover-btn:hover {
    color: darkred;
}

.hide {
    display: none;
}

/*Freddy's Flick Picks Position*/

<<<<<<< HEAD
header{
    /* Same background color with increased height of 100px */
=======
header {
>>>>>>> main
    height: 100px;
    background-color: #8a0303;
}

/* Freddy's Flick Picks! */
h1 {
    /*Added font size black color for header*/
    /*Increased pixel size for more center alignment*/
    /*Decreased padding top for center */

    font-size: 50px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    height: 55px;
    padding-top: 15px;
    font-family: 'Butcherman', cursive;
}

.form-container {
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
}

.form-container p {
    margin: 20px;
}

.movie-container {
    margin-top: 100px;
    text-align: left;
    font-size: 20px;
    color: whitesmoke;
    margin-right: 100px;
}

.movie-container section {
    margin-bottom: 20px;
}

.movie-poster {
    float: left;
    margin-left: 100px;
    margin-right: 30px;
}

.streaming-services {
    color: antiquewhite;
    margin-top: 100px;
}

.stream-title {
    font-weight: bold;
    font-size: medium;
    text-decoration: underline;
}

/* @MEDIA? */