/* background-color: #001e09; freddy's green stripe*/
body,
html {
    height: 100%;
    background-color: #181818;
}

.image-container {
    /* Freddy image */
    background-image: url("https://wallpapercave.com/wp/Kdo1nO2.png");

    /* Full height to cover whole page */
    height: 100%;

    /* Center and scale the image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* aligns button to the center */
    text-align: center;
}

/* css for cover page button */
.cover-btn {
    position: relative;
    top: 35vh;
    left: 6vh;
    background-color: black;
    color: black;
    border: none;
    font-family: fantasy;
    font-size: x-large;
}

/* hover over Freddy's body to find button */
.cover-btn:hover {
    color: darkred;
}

.hide {
    display: none;
}

/* Freddy's Flick Picks! */
h1 {
    text-align: center;
    background-color: #8a0303;
    color: whitesmoke;
    font-weight: bold;
    height: 50px;
    padding-top: 10px;
}


/* WORK ON LATER */
/* .btn-container {
    height: 200px;
    display: flex;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    background-color: #181818;
}

.last-btns {
    color: aqua;
} */